<a href="https://colab.research.google.com/github/DeepthiTabithaBennet/NaturalLanguageProcessing/blob/main/SentimentAnalysis_HateSpeechDetection.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Dataset - https://www.kaggle.com/datasets/ashwiniyer176/toxic-tweets-dataset

In [ ]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to /root/nltk_data...
[nltk_data]   Unzipping tokenizers/punkt.zip.

True

In [ ]:
import pandas as pd
from nltk.tokenize import word_tokenize
from sklearn.naive_bayes import ComplementNB
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, precision_score, recall_score, classification_report

In [ ]:
from google.colab import drive
drive.mount('/content/drive/')

data = pd.read_csv("/content/drive/MyDrive/NLP Datasets/hatespeech.csv")

Mounted at /content/drive/

In [ ]:
data.head()

   Unnamed: 0  Toxicity                                              tweet
0           0         0   @user when a father is dysfunctional and is s...
1           1         0  @user @user thanks for #lyft credit i can't us...
2           2         0                                bihday your majesty
3           3         0  #model   i love u take with u all the time in ...
4           4         0             factsguide: society now    #motivation

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 56745 entries, 0 to 56744
Data columns (total 3 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  56745 non-null  int64
 1   Toxicity    56745 non-null  int64
 2   tweet       56745 non-null  object
dtypes: int64(2), object(1)
memory usage: 1.3+ MB

In [ ]:
## Counting the null objects
data.isnull().sum()

Unnamed: 0    0
Toxicity      0
tweet         0
dtype: int64

In [ ]:
# Checking for duplicated data
data.duplicated().sum()

# Removing duplicates
data.drop_duplicates(inplace=True)
data.duplicated().sum()

0

In [ ]:
# Lowercasing the text
data['tweet'] = data['tweet'].str.lower()
data['tweet'].head()

0     @user when a father is dysfunctional and is s...
1    @user @user thanks for #lyft credit i can't us...
2                                  bihday your majesty
3    #model   i love u take with u all the time in ...
4               factsguide: society now    #motivation
Name: tweet, dtype: object

In [ ]:
# Removing "Subject: ", as it is the email template, not the email content
data['tweet'] = data['tweet'].str.replace('@user ', '')
data['tweet'] = data['tweet'].str.replace('@', '')
data['tweet'] = data['tweet'].str.replace('#', '')
data['tweet'].head()

0     when a father is dysfunctional and is so self...
1    thanks for lyft credit i can't use cause they ...
2                                  bihday your majesty
3    model   i love u take with u all the time in u...
4                factsguide: society now    motivation
Name: tweet, dtype: object

In [ ]:
X_train, X_test, y_train, y_test = train_test_split(data['tweet'], data['Toxicity'], test_size=0.1, shuffle=True, random_state=1)

In [ ]:
# Bag-of-Words
vectorizer = CountVectorizer()
vectorized = vectorizer.fit(data['tweet'])

train_vectorized_X = vectorizer.transform(X_train).toarray()
test_vectorized_X = vectorizer.transform(X_test).toarray()

In [ ]:
naive_bayes = ComplementNB()
naive_bayes.fit(train_vectorized_X, y_train)
predictions = naive_bayes.predict(test_vectorized_X)

In [ ]:
print(classification_report(y_test, predictions,  digits=4))

              precision    recall  f1-score   support

           0     0.9549    0.8922    0.9225      3320
           1     0.8609    0.9406    0.8989      2355

    accuracy                         0.9122      5675
   macro avg     0.9079    0.9164    0.9107      5675
weighted avg     0.9159    0.9122    0.9127      5675

In [ ]:
print(confusion_matrix(y_test, predictions))

[[2962  358]
 [ 140 2215]]